schema/LCP-IED.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
	<xs:element name="LCPQuestionnaire">
		<xs:annotation>
			<xs:documentation>

                XML Schema for Reporting on Combustion Plants under Art 72 of the Industrial Emissions Directive

                Reporting obligation: http://rod.eionet.europa.eu/obligations/756

                The reporting is done through online questionnaire in CDR envelope. The online questionnaire saves the data
                automatically in XML format.

            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BasicData" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MemberState" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="ReferenceYear" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="2016"/>
										<xs:maxInclusive value="2016"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NumberOfPlants" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Organization" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Address1" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Address2" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="City" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="State" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="PostalCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="NameOfContactPerson" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Phone" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="EMail" type="xs:string" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ListOfPlants" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Plant" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PlantName" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="PlantId" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="EPRTRNationalId" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="PlantLocation">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="StreetName" type="xs:string" minOccurs="0" maxOccurs="1"/>
													<xs:element name="City" type="xs:string" minOccurs="0" maxOccurs="1"/>
													<xs:element name="Region" type="xs:string" minOccurs="0" maxOccurs="1"/>
													<xs:element name="PostalCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
													<xs:element name="CountryCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
													<xs:element name="BuildingNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="GeographicalCoordinate" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Longitude" type="xs:string" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Latitude" type="xs:string" minOccurs="1" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="FacilityName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="Comments" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                    </xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PlantDetails" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MWth" type="xs:double" minOccurs="1" maxOccurs="1"/>
							<xs:element name="TypeOfCombustionPlant" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
							<xs:element name="DateOfStartOfOperation" type="DoubleOrNothing" minOccurs="1" maxOccurs="1"/>
							<xs:element name="Refineries" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
							<xs:element name="OtherSector" type="OtherSectorType" minOccurs="1" maxOccurs="1"/>
							<xs:element name="OperatingHours" type="IntOrNothing" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Derogation" type="DoubleOrNothing" minOccurs="1" maxOccurs="1"/>
							<xs:element name="Comments" type="xs:string" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EnergyInputAndTotalEmissionsToAir" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EnergyInput" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Biomass" type="xs:double" minOccurs="1" maxOccurs="1"/>
									<xs:element name="Coal" type="xs:double" minOccurs="1" maxOccurs="1"/>
									<xs:element name="Lignite" type="xs:double" minOccurs="1" maxOccurs="1"/>
									<xs:element name="Peat" type="xs:double" minOccurs="1" maxOccurs="1"/>
									<xs:element name="OtherSolidFuels" type="xs:double" minOccurs="1" maxOccurs="1"/>
									<xs:element name="LiquidFuels" type="xs:double" minOccurs="1" maxOccurs="1"/>
									<xs:element name="NaturalGas" type="xs:double" minOccurs="1" maxOccurs="1"/>
									<xs:element name="OtherGases" type="xs:double" minOccurs="1" maxOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="TotalEmissionsToAir" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SO2" type="xs:double" minOccurs="1" maxOccurs="1"/>
									<xs:element name="NOx" type="xs:double" minOccurs="1" maxOccurs="1"/>
									<xs:element name="TSP" type="xs:double" minOccurs="1" maxOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				<xs:element name="Desulphurisation" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DesulphurisationRate" type="xs:double" minOccurs="1" maxOccurs="1"/>
							<xs:element name="SulphurContent" type="xs:double" minOccurs="1" maxOccurs="1"/>
							<xs:element name="TechnicalJustification" type="xs:double" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="UsefulHeat" type="xs:double" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UsefulHeatProportion" type="xs:double" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="xml:lang" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="TrueFalseType">
		<xs:annotation>
			<xs:documentation>Checkbox values</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="false"/>
			<xs:enumeration value="true"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateOrNothing">
		<xs:annotation>
			<xs:documentation>Date or null(allows empty xml element)</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base='xs:string'>
				  <xs:length value='0'/>
				</xs:restriction>
		  </xs:simpleType>
		  <xs:simpleType>
				<xs:restriction base='xs:date'>
				</xs:restriction>
		  </xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="DoubleOrNothing">
		<xs:annotation>
			<xs:documentation>Double or null(allows empty xml element)</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base='xs:string'>
				  <xs:length value='0'/>
				</xs:restriction>
		  </xs:simpleType>
		  <xs:simpleType>
				<xs:restriction base='xs:double'>
				</xs:restriction>
		  </xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="IntOrNothing">
		<xs:annotation>
			<xs:documentation>Integer or null(allows empty xml element)</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base='xs:string'>
				  <xs:length value='0'/>
				</xs:restriction>
		  </xs:simpleType>
		  <xs:simpleType>
				<xs:restriction base='xs:integer'>
				</xs:restriction>
		  </xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="BoolorNothing">
		<xs:annotation>
			<xs:documentation>Bool or null(allows empty xml element)</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base='xs:string'>
				  <xs:length value='0'/>
				</xs:restriction>
		  </xs:simpleType>
		  <xs:simpleType>
				<xs:restriction base='TrueFalseType'>
				</xs:restriction>
		  </xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="OtherSectorType">
		<xs:annotation>
			<xs:documentation>Other sectors</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="iron_steel">
				<xs:annotation>
					<xs:documentation>Iron/steel</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="esi">
				<xs:annotation>
					<xs:documentation>ESI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="district_heating">
				<xs:annotation>
					<xs:documentation>District heating</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="chp">
				<xs:annotation>
					<xs:documentation>CHP</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="other">
				<xs:annotation>
					<xs:documentation>Other (non refineries)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
