schema/LCPQuestionnaire-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
	<xs:element name="LCPQuestionnaire">
		<xs:annotation>
			<xs:documentation>

                XML Schema for Large Combustion Plants questionnaire TODO: check content
                of reporting on the use of auctioning revenues pursuant to Article 24

                Reporting obligation: http://cdr.eionet.europa.eu/??
                Obligation title:

                Reporting year 2014.

                The reporting is done through online questionnaire in CDR envelope. The online questionnaire saves the data
                automatically in XML format.

                The reported XML files have to conform XML Schema definition below.
                The official schema location is: http://dd.eionet.europa.eu/schemas/lcp/LCPQuestionnaire.xsd

                An empty XML file can be downloaded here:
                http://dd.eionet.europa.eu/schemas/lcp/lcp-instance-empty.xml

                Version History:
                v1.0 () - the first released version.

                Version: $Id$.

                TODO: change element names CamelCase.
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BasicData" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MemberState" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="ReferenceYear" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="2013"/>
										<xs:maxInclusive value="2015"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NumberOfPlants" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Organization" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="Address1" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="Address2" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="City" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="State" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="PostalCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="NameOfContactPerson" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="EMail" type="xs:string" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ListOfPlants" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Plant">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PlantName" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="PlantId" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="EPRTRNationalId" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="PlantLocation">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Address1" type="xs:string" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Address2" type="xs:string" minOccurs="1" maxOccurs="1"/>
													<xs:element name="City" type="xs:string" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Region" type="xs:string" minOccurs="1" maxOccurs="1"/>
													<xs:element name="PostalCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="GeographicalCoordinate" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Longitude" type="xs:string" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Latitude" type="xs:string" minOccurs="1" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="FacilityName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="Comments" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="PlantDetails" minOccurs="1" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="StatusOfThePlant" type="StatusOfThePlantType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="MWth" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="ExtensionBy50MWOrMore" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="CapacityAddedMW" type="xs:double"/>
                                                    <xs:element name="SubstantialChange" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="CapacityAffectedMW" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="DateOfStartOfOperation" type="xs:date" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="Refineries" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="OtherSector" type="OtherSectorType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="GasTurbine" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="GasTurbineThermalInput" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="Boiler" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="BoilerThermalInput" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="GasEngine" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="GasEngineThermalInput" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="DieselEngine" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="DieselEngineTurbineThermalInput" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="Other" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="OtherTypeOfCombustion" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="OtherThermalInput" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="OperatingHours" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="Comments" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="EnergyInputAndTotalEmissionsToAir" minOccurs="1" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="EnergyInput" minOccurs="1" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Biomass" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="OtherSolidFuels" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="LiquidFuels" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="NaturalGas" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="OtherGases" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="HardCoal" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="Lignite" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="TotalEmissionsToAir" minOccurs="1" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="SO2" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="NOx" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="Dust" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="OptOutsAndNERP" minOccurs="1" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="OptOutPlant" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="CapacityOptedOutMW" type="xs:double"/>
                                                    <xs:element name="HoursOperated" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="PlantIncludedInNERP" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="LcpArt15">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Art5_1" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="OperatingHours" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="ElvSO2" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="NotaBeneAnnexIII" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="NotaBeneElvSO2" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="DesulphurisationRate" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="SInput" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="AnnexVI_A_Footnote2" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="AnnexVI_A_Footnote2_OperatingHours" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="ElvNOx" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="AnnexVI_A_Footnote3" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="VolatileContents" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="AnnexVI_A_Footnote3_ElvNOx" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="Comments" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="IEDReporting" minOccurs="1" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="EmissionLimitValues" minOccurs="1" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="ELVSO2" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="ELVSO2FuelType" type="ElvSO2FuelTypeType" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="ELVSO2Period" type="ELVSO2PeriodType" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="ELVNOx" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="ELVNOxFuelType" type="ELVNOxFuelTypeType" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="ELVNOxPeriod" type="ELVNOxPeriodType" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="ELVDust" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="ELVDustFuelType" type="ElvDustFuelTypeType" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="ELVDustPeriod" type="ELVDustPeriodType" minOccurs="1" maxOccurs="1"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="DerogationsToELVs" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="LimitedLifeTimeDerogation" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="SmallIsolatedSystem" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="DistrictHeatingPlant" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="UsefulHeatProductionRollingAverage5Years" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="IEDArt27" minOccurs="1" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="IEDArt72_4a" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="SO2" minOccurs="1" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="January" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="February" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="March" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="April" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="May" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="June" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="July" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="August" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="September" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="October" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="November" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="December" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="DesulphurisationRate" minOccurs="1" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="January" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="February" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="March" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="April" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="May" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="June" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="July" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="August" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="September" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="October" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="November" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="December" type="xs:double" minOccurs="1" maxOccurs="1"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="IEDArt72_4b" type="TrueFalseType" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element name="OperatingHours" minOccurs="1" maxOccurs="1">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:minInclusive value="1"/>
                                                                <xs:maxInclusive value="1500"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="xml:lang" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="TrueFalseType">
		<xs:annotation>
			<xs:documentation>Checkbox values</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="false"/>
			<xs:enumeration value="true"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatusOfThePlantType">
		<xs:annotation>
			<xs:documentation>Status of the plant according to LCPD 2001/80/EC Article 4.t</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="art_4_1">
				<xs:annotation>
					<xs:documentation>Art 4(1) - old-new plants</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="art_4_2">
				<xs:annotation>
					<xs:documentation>Art 4(2) - new-new plants</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="art_4_3">
				<xs:annotation>
					<xs:documentation>Art 4(3) - existing plants</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OtherSectorType">
		<xs:annotation>
			<xs:documentation>Other sectors</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="iron_steel">
				<xs:annotation>
					<xs:documentation>Iron/steel</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="esi">
				<xs:annotation>
					<xs:documentation>ESI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="district_heating">
				<xs:annotation>
					<xs:documentation>District heating</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="chp">
				<xs:annotation>
					<xs:documentation>CHP</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="other">
				<xs:annotation>
					<xs:documentation>Other (non refineries)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PollutantType">
		<xs:annotation>
			<xs:documentation>Pollutants, Form 5 "Pollutants not covered by TNP"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ElvSO2FuelTypeType">
		<xs:annotation>
			<xs:documentation>Form 7, column "E"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ELVSO2PeriodType">
		<xs:annotation>
			<xs:documentation>Form 7, column "F"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ELVNOxFuelTypeType">
		<xs:annotation>
			<xs:documentation>Form 7, column "H"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ELVNOxPeriodType">
		<xs:annotation>
			<xs:documentation>Form 7, column "I"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ElvDustFuelTypeType">
		<xs:annotation>
			<xs:documentation>Form 7, column "K"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ELVDustPeriodType">
		<xs:annotation>
			<xs:documentation>Form 7, column "L"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
